.backgroundW {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.backgroundB {
    position: absolute;
    background-color: black;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: black;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow: hidden;
}

.text-container {
    font-size: 40px;
    font-family: text;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    padding: 200px;
}

.button-container {
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    font-size: 5000px;
    background-color: black;
    margin: 50px;
}

.button-container button {
    background-color: white;
    font-size: 30px;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
    font-family: text;
    outline: none;
    cursor: pointer;
    border: none;
    float: left;
    margin: 5px;
}

@font-face {
    font-family: text;
    src: url(./fonts/SF-UI-Text-Bold.otf);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}